body { background-image: url(a.jfif);}

h1 {text-align: center;
color: #000066;
font-size: 22px;}

h2 {text-align: left;
color: #000066;}

p {font-family: century schoolbook;
font-size: 15px;}

ul {font-family: arial
font-size:15px;}

img{border-radius: 15%}